In [2]:
import pandas as pd
import numpy as np
from skimpy import clean_columns
import matplotlib.pyplot as plt
import pylab as pl
from statsmodels.tsa.seasonal import seasonal_decompose
%matplotlib inline

Import the size and depth statistics about each lake

In [3]:
lake_stats = clean_columns(
    pd.read_csv("Lake physical data.csv",
                low_memory = False))
lake_stats.rename(columns={'lake': 'lake_name'}, inplace=True)
lake_stats.head()

5 column names have been cleaned

,lake_name,surface_area_acres,watershed_acres,average_depth_ft,maximum_depth_ft
0,Wawasee,3006,24448,22.0,81
1,Syracuse,411,24498,13.0,34
2,Dewart,554,5059,16.0,82
3,Webster,653,31459,12.5,52
4,James,278,35776,27.0,62